<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Ihr Passwort verfällt bald!
</h1>
<p>
 Ihr Passwort verfällt bald, weil es nicht mit den aktuelen Passwort Regeln übereinstimmt. <br>
 Ihr Passowrt verfällt am <%= expiresAt.toLocaleString() %>. Wenn Sie Ihr Passwort davor nicht ändern, werden Sie sich danach nicht mehr anmelden können. <br>
 Bitte ändern Sie ihr Passwort um Unannehmlichkeiten zu vermeiden.
</p>
<h4>
  Bitte Passwort ändern
</h4>
<p>
  Ändern Sie ihr Passwort über folgenden Link: <b><a href="<%= url %>">Anmeldung Visbo</a></b>
</p>
<p>
  Ihre e-Mail Adresse <%= userTo.email %> für die das Passwort verfällt.
</p>
<footer>
    <% include partials/footer %>
</footer>
