<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Your password has expired!
</h1>
<p>
 die Gültigkeit von Ihrem Passwort ist abgelaufen, weil Sie ihr Passwort nicht innerhalb der Frist geändert haben.<br>
 Sie können sich nicht mehr mit dem alten Passwort anmelden. <br>
 Bitte setzten Sie ein neues Passwort über die Passwort vergessen Funktion, das der aktuellen Passwort Regel entspricht.
</p>
<h4>
  Bitte Passwort zurücksetzen
</h4>
<p>
  Bitte setzen Sie das Passwort über den Link: <a href="<%= url %>">Passwort zurücksetzen</a>
</p>
<p>
  Ihre e-Mail Adresse <%= userTo.email %> für die Passwortänderung.
</p>
<footer>
    <% include partials/footer %>
</footer>
