<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Sie haben sich erfolgreich registriert
</h1>
<p>
  Um sich am Visbo System anzumelden, benutzen Sie bitte folgenden Link : <a href="<%= url %>">Anmeldung</a>
</p>
<p>
  Benutzen Sie ihre e-Mail Adresse <%= userTo.email %> für die Anmeldung.
</p>
<footer>
    <% include partials/footer %>
</footer>
