<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Sie müssen sich zuerst registrieren
</h1>
<p>
  Bevor Sie sich bei Visbo anmelden können, müssen Sie ihre Benutzerkennung registrieren.
</p>
<h4>
  Bitte registrieren sie sich
</h4>
<p>
  Registrieren Sie sich über folgenden Link: <b><a href="<%= url %>">Reistrierung</a></b>
</p>
<p>
  Benutzen Sie Ihre e-Mail Adresse <%= userTo.email %> für die Registrierung.
</p>
<footer>
    <% include partials/footer %>
</footer>
