<!-- <p>
  Important Header i.e. Logo
https://my.visbo.net/assets/visbologo.svg
</p> -->
<!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
<div style="float: right">
  <img src="https://my.visbo.net/assets/visbologo.svg" alt="Visbo Logo">
</div>
