<h1>
  eMail Confirmation Successful
</h1>
<h3>
  you have successfully confirmed your e-Mail address <%= userTo.profile.firstName %> <%= userTo.profile.lastName %> (<%= userTo.email %>)
</h3>
<p>
  to Login please use the following link: <a href="<%= url %>">Login</a>
</p>
