<h1>
  eMail Confirmation
</h1>
<h3>
  for <%= userTo.profile.firstName %> <%= userTo.profile.lastName %> <%= userTo.email %>
</h3>
<p>
  Please confirm your e-Mail address by following this link: <a href="<%= url %>">Confirm e-Mail address</a>
</p>
