<head>
    <% include ../emailTemplates/partials/head %>
</head>
<header>
    <% include ../emailTemplates/partials/header %>
</header>
<h1>
  eMail Confirmation Successful
</h1>
<p>
  you have successfully confirmed your e-Mail address <%= userTo.profile.firstName %> <%= userTo.profile.lastName %> (<%= userTo.email %>)
</p>
<h4>
  Login to Visbo
</h4>
<p>
  to Login please use the following link: <a href="<%= url %>">Login</a>
</p>
<footer>
    <% include ../emailTemplates/partials/footer %>
</footer>
