<h1>
  Password Reset Request
</h1>
<h3>
  for <%= user.profile.firstName %> <%= user.profile.lastName %> <%= user.email %>
</h3>
<p>
  Please confirm your e-Mail address by following this link: <a href="<%= url %>">Reset Visbo Password</a>
</p>
