<head>
    <% include ../emailTemplates/partials/head %>
</head>
<header>
    <% include ../emailTemplates/partials/header %>
</header>
<h1>
  Password Reset Request
</h1>
<p>
  for <%= user.profile.firstName %> <%= user.profile.lastName %> <%= user.email %>
</p>
<h4>
  A password reset was requested.
</h4>
<p>
  Please confirm the password reset by following this link: <a href="<%= url %>">Reset Visbo Password</a>
  <br>
  If the Password Request was not initiated by yourself, please delete the e-Mail.
</p>
<footer>
    <% include ../emailTemplates/partials/footer %>
</footer>
