<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Your password expires soon!
</h1>
<p>
 Your password expires soon, because your current password does not match the current password rules. <br>
 Your user account is marked for expiration after <%= expiresAt.toLocaleString() %>. If you do not change your password before, you will not be able to login after the account has expired. <br>
 Please change your password before, to avoid any inconvinience.
</p>
<h4>
  Please Change Password
</h4>
<p>
  Change Password by following the Link: <a href="<%= url %>">Login Visbo</a>
</p>
<p>
  Your e-Mail address <%= userTo.email %> is affected from the expiration.
</p>
<footer>
    <% include partials/footer %>
</footer>
