<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  Visbo Password Reset Request
</h1>
<p>
  for <%= user.profile.firstName %> <%= user.profile.lastName %> <%= user.email %>
</p>
<h4>
  A password reset was requested.
</h4>
<p>
  Please confirm the password reset by following this link: <b><a href="<%= url %>">Reset Visbo Password</a></b>
  <br>
  If the Password Request was not initiated by yourself, please delete the e-Mail.
</p>
<footer>
    <% include partials/footer %>
</footer>
