<head>
    <% include partials/head %>
</head>
<header>
    <% include partials/header %>
</header>
<h1>
  You have to register first
</h1>
<p>
  Before you can login to Visbo, you have to register your account first.
</p>
<h4>
  Please Register your Account
</h4>
<p>
  Register by following this link: <b><a href="<%= url %>">Register</a></b>
</p>
<p>
  Your e-Mail address <%= userTo.email %> was used for the invitation.
</p>
<footer>
    <% include partials/footer %>
</footer>
